
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Fjalla One', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rec-card-container {
  /* width: calc(60% - 120px);; */
  max-width: 600px;
  margin: 0 auto;
  /* margin-left: 30%; */
  /* display: inline-block */
}

.tag-container {
  padding: 10px;

  display: flex;
  width: 70%;
  position: relative;
  margin: 0 auto;
  /* margin-left: 60%; */
  justify-content: space-evenly;
}

.tag-container span:hover{
  border-bottom: 5px solid #ffa580
}

.rec-card {
	border-spacing: 0;
  width: calc(100% - 70px);
  display: block;
  position: relative;
  margin: 40px;
  padding: 10px;
  border: 2px solid;
  box-shadow: 10px 10px 1px #ffa580, 10px 10px 1px 2px rgba(0,0,0,1);
}
.card-cosign{
  margin-bottom: 0;
  float: right;
}
.card-cosign button {
  display: block;
  margin: 0 auto;
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1)
}

.avatar {
  height: 30px;
  margin-right: 10px;
  border: .5px solid gray;
  border-radius: 100%;
}

.card-body h2 {
  font-family: 'Fjalla One';
  font-size: 26px;
  margin-top: 10px;
  /* margin-bottom: 5px; */
}

.card-body h3 {
  font-size: 15px;
}

.card-body {
  margin-left: 6%;
  display: block;
}

#body {
  font-size: 16px;
  margin-top: 20px;
  display: block;
  width: 90%;
}

.card-body span {
  display: inline-block;
  font-size: 13px;
  padding-top: 18px;
  margin-right: 20%;
}

.navBar {
  height: 53px;
  width: 100%;
  padding: 0.5rem 0rem;
  /* margin-top: 5px; */
  text-decoration: none;
  border-bottom: solid grey;
}
.nav-logo {
  height: 50px;
  /* display: flex; */
  margin-top: -3px;
  margin-left: 5%;
  float: left;
}

#nav-recs {
  margin-top: 5px;
  font-size: 30px;
  float: left;
  text-decoration: none;
}

#nav-editor {
  text-decoration: none;
  float: none;
  position: absolute;
  left: 45%;
  margin-top: 15px;
}

#nav-login {
  float: right;
  text-decoration: none;
  margin: 5px 5%
}

.menu {
  float: right;
  margin: 0 5% 20px 0;
}

#nav-profile {
  float: right;
  position: relative;
  margin: 5px 140px 50px 0;
}

.nav-logout {
  /* margin: 0 20px 50px 0; */
  float: right;
  position: relative;
}

.nav-button {
  display: block;
  margin: 0 auto;
  margin-top: -12px;
  line-height: 28px;
  /* background: #ffa580; */
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1)
}

.login-page {
  max-width: 500px;
  margin: 40px auto;
  padding: 50px 100px;
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1);
  align-items: center;
}


.login-form label {
  font-family: 'Fjalla One';
  font-size: 20px;
  display: block;
  margin: 10px 10px 10px 10px;
}

.login-form input {
  font-size: 18px;
  font-family: 'Fjalla One';
  display: block;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 28px;
  border: none;
  border-bottom: 5px solid rgba(0,0,0,1);
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgba(0,0,0,1)
}

.login-form input:focus{
  border-bottom: 5px solid #ffa580
}

.login-form button {
  display: block;
  margin: 0 auto;
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1)
}
.login-form button:hover{
    background: rgba(0,0,0,1);
    color: white;
    border: 1px solid rgba(0,0,0,1)
}

.login-form button::selection{
  background-color: #ffc8ff;
}

.signup {
  font-size: 14px;
  margin-top: 50px;
  color: #95a4ff;
}

.signup-button {
  display: inline-block;
  margin-left: 10px;
  color: black;
  font-style: bold;
}


.signup-button:hover{
  cursor: pointer;
  color: #ffc8ff;
}

/* .login-page button {
  display: inline-block;
  height: 30px;
  width: 70px;
 -webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  margin: 20px 10px 10px 10px;
} */

.profile-nav {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0rem;
  margin-top: 260px;
  background-color: darkgray;
}


.profile-header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg");
  background-size: 100% 100%;
  position: absolute;
  height: 300px;
  width: 100%;
}

.profile-header h1 {
  margin: 130px 0 0 25%;
  font-family: 'Fjalla One';
  position: absolute;
  font-size: 70px;
}

.profile-avatar {
  margin: 120px 0 0 10%;
  border: .5px solid gray;
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
  overflow: "hidden"
}

.profile-follows {
  margin: 220px 0 0px 25%;
  position: absolute;
  font-size: 15px;
}

.profile-follows span {
  padding: 10px; 
}

.follow-button{
  float: right;
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1);
  margin: 200px 20% 0 0;
  /* position: absolute; */
}

.card-editor input {
  font-size: 16px;
  margin: 0 10px 10px 10%;
  height: 32px;
  width: 80%;
  font-family: 'Fjalla One';
  display: block;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 32px;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
}
.card-editor input:focus{
  border-bottom: 5px solid #ffa580
}

.card-editor textarea:focus{
border-bottom: 5px solid #ffa580
}

.card-editor button {
  display: block;
  margin: 0 auto;
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1)
}
.card-editor button:hover{
    background: rgba(0,0,0,1);
    color: white;
    border: 1px solid rgba(0,0,0,1)
}

.card-editor button:selection{
  background-color: #ffc8ff;
}
#card-editor-body {
  height: 200px;
  margin-top: 0;
  width: 80%;
  padding: 7px;
  margin: 0 10px 10px 10%;
  align-items: center;
}

.profile-about{
  display: block;
  margin-left: 10%;
  /* width: 100%; */
  align-items: center;
  /* align-content: center; */
  /* float: none; */
}

.profile-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 50px 100px;
  box-sizing: border-box;
  /* border: 2px solid rgba(0,0,0,1); */
  /* box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0,0,0,1); */
  align-items: center;
}

.profile-form input {
  font-size: 18px;
  font-family: 'Fjalla One';
  display: block;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 28px;
  border: none;
  border-bottom: 5px solid rgba(0,0,0,1);
  min-width: 350px;
  padding-left: 5px;
  outline: none;
  color: rgba(0,0,0,1)

}

.profile-form button {
  display: block;
  margin: 0 auto;
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1)
}
.edit-profile-button {
  display: block;
  margin: 0 auto;
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1)
}

.edit-post-button {
  display: block;
  /* margin: 0 auto; */
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1)
}
